<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="../static/icons/University_of_Stavanger_emblem.png">
    <title>UiS - SMIA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/scripts/bootstrap.min.css">
    <script src="../static/scripts/jquery.min.js"></script>
    <script src="../static/scripts/bootstrap.min.js"></script>
  </head>
  <body>
    <br />
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">{{ message.header }}</div>
            <div class="panel-body">
              <h4>{{ message.body }}</h4>
              <h6>For more assistance: Contact site administrator via m.guniem@stud.uis.no</h6>
            </div>
        </div>
    </div>
    
  </body>
</html>