<div class="col-sm-12">
    <div class="form-group">
        <label for="influence_areas_list">Field of Influence</label>
        <p>(Hold down the Ctrl (windows) or Command (Mac) button to select multiple options)</p>
        <select name="influence_areas" class="form-control" id="influence_areas_list" multiple required>
            <option value="politic">Politic</option>
            <option value="economy">Economy</option>
            <option value="sport">Sport</option>
            <option value="entertainment">Entertainment</option>
            <option value="technology">Technology</option>
        </select>
    </div>
</div>
