<div class="col-sm-6">
    <div class="form-group">
        <label for="source_name">From Username:</label>
        <input type="text" class="form-control" id="source_name" placeholder="Source Username" name="source_name" required>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <label for="target_name">To Username:</label>
        <input type="text" class="form-control" id="target_name" placeholder="Target Username" name="target_name" required>
    </div>
</div>
  
