<div class="col-sm-12">
    <div class="form-group">
        <label for="score_type">Score Type</label>
        <select name="score_type" class="form-control" id="score_type" required>
            <option value="total" selected>Total</option>
            <option value="activity">Activity</option>
            <option value="interaction">Interaction</option>
            <option value="upvotes">Upvotes</option>
            <option value="activity_and_upvotes">Activity & Upvotes</option>
            <option value="interaction_and_activity">Interaction & Activity</option>
            <option value="interaction_and_upvotes">Interaction & Upvotes</option>
        </select>
    </div>
</div>
