<div class="col-sm-6">
    <div class="form-group">
        <label for="min_score">Lower Influence Score:</label>
        <input type="number" class="form-control" id="min_score" placeholder="Lower Score Bound" name="min_score" required>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <label for="max_score">Upper Influence Score</label>
        <input type="number" class="form-control" id="max_score" placeholder="Upper Score Bound" name="max_score" required>
    </div>
</div>
  
