<div class="col-sm-12">
    <div class="form-group">
        <label for="statistic_measure">Select a statistics measure:</label>
        <select name="statistic_measure" class="form-control" id="statistic_measure" required>
            <option value="crawling">Crawling Statistics</option>
            <option value="influence_areas_and_subreddits">Influence Areas vs. Subreddits Statistics</option>
            <option value="influence_scores">Influence score Statistics</option>
        </select>
    </div>
</div>