<div class="col-sm-12" id="statistic_score_type">
    <div class="form-group">
        <label for="statistic_score_type">Score Type</label>
        <select name="statistic_score_type" class="form-control" required>
            <option value="all_scores">All scores</option>
            <option value="single_scores">All signle scores</option>
            <option value="dobble_scores">All dobble scores</option>
            <option value="total" selected>Total</option>
            <option value="activity">Activity</option>
            <option value="interaction">Interaction</option>
            <option value="upvotes">Upvotes</option>
            <option value="activity_and_upvotes">Activity & Upvotes</option>
            <option value="interaction_and_activity">Interaction & Activity</option>
            <option value="interaction_and_upvotes">Interaction & Upvotes</option>
        </select>
    </div>
</div>
