<!DOCTYPE html>
<html lang="en">
<head>
    <title>UiS - SMIA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #graphcanvas {
            width: 98vw;
            height: 80vh;
        }
    </style>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h4>Node Information:</h4>
    <div id="nodeInfo">Select a node</div>
    <h4>Edge Information:</h4>
    <div id="edgeInfo">Select an edge</div>
    <br />
    <div id="graphcanvas"></div>
    <script>
        var graph = JSON.parse('{{ data|tojson|safe }}');

        var container = document.getElementById("graphcanvas");

        var options = {
            nodes: {
                shape: "dot",
                color: {
                    highlight: {
                        border: '#2B7CE9',
                        background: '#D2E5FF'
                    },
                    border: "#f03434"
                 },
                borderWidth: 1
            },
            edges: {
                color: "#4287f5",
                arrowStrikethrough: false,
                arrows: "to"
            },
            physics: {
                forceAtlas2Based: {
                    gravitationalConstant: -26,
                    centralGravity: 0.005,
                    springLength: 230,
                    springConstant: 0.18,
                    avoidOverlap: 1.5
                },
                maxVelocity: 146,
                solver: 'forceAtlas2Based',
                timestep: 0.35,
                stabilization: {
                    enabled: true,
                    iterations: 1000,
                    updateInterval: 25
                }
            },
            autoResize: true,
            height: '100%',
            width: '100%',
            interaction: {
                navigationButtons: true,
                keyboard: true,
                zoomSpeed: 0.3
            },
            /*
            physics: {
                barnesHut: { gravitationalConstant: -10000 },
                stabilization: { iterations: 2500 },
            },
            */
        };
            
        var network = new vis.Network(container, graph, options);
        network.on("click", function (params) {
            var node_id = params.nodes[0]
            if (node_id) {
                var node = this.body.nodes[node_id];
                if ('{{ graph_type }}' == 'user_graph') {
                    document.getElementById("nodeInfo").innerText = 
                        `Username: ${node.options.label},`
                        +` User ID: ${node_id},`
                        +` centrality: ${node.options.value}`
                } else if ('{{ graph_type }}' == 'activity_graph') {
                    var label = node.options.label
                    var type = (node.options.label.split("\n")[0]).replace("_"," ")
                    var username = (node.options.label.split("\n")[1]).replace(`(${node_id})`,"")
                    document.getElementById("nodeInfo").innerText = 
                        `Type: ${type},`
                        +` Username: ${username},`
                        +` User ID: ${node_id}`
                }  
            }
            var edge_id = params.edges[0]
            if (edge_id) {
                var edge = this.body.edges[edge_id];
                if ('{{ graph_type }}' == 'user_graph') {
                    document.getElementById("edgeInfo").innerText = 
                        `From: ${edge.options.from},`
                        +` To: ${edge.options.to},`
                        +` Score: ${edge.options.value},`
                        +` Influence areas: ${edge.options.label.split("\n")[1]}`
                } else if ('{{ graph_type }}' == 'activity_graph') {
                    document.getElementById("edgeInfo").innerText = 
                        `From: ${edge.options.from},`
                        +` To: ${edge.options.to},`
                        +` Score: ${edge.options.value},`
                        +` Influence areas: ${edge.options.label.split("\n")[1]}`
                }
            }
        });
    </script>
</body>
</html>