<form action="/score" target="_blank">
  <h3>Filter by the desired lower and upper influence score</h3>
  <div class="form-group">
    <label for="min_score">Lower Influence Score:</label>
    <input type="number" class="form-control" id="min_score" placeholder="Lower Score Bound" name="min_score">
  </div>
  <div class="form-group">
    <label for="max_score">Upper Influence Score</label>
    <input type="number" class="form-control" id="max_score" placeholder="Upper Score Bound" name="max_score">
  </div>
  <div class="form-group">
    <label for="graph">Select a Graph:</label>
    <select name="graph" class="form-control" id="graph">
      {% for graph in graphs %}
        <option 
        value="{{ graph.network }}_{{ graph.date }}"
        {% if loop.last %}
          selected
        {% endif %}
        >{{ graph.network }} - {{ graph.date }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="score_type">Score Type</label>
    <select name="score_type" class="form-control" id="score_type">
        <option value="total" selected>Total</option>
        <option value="activity">Activity</option>
        <option value="interaction">Interaction</option>
        <option value="upvotes">Upvotes</option>
        <option value="activity_and_upvotes">Activity & Upvotes</option>
        <option value="interaction_and_activity">Interaction & Activity</option>
        <option value="interaction_and_upvotes">Interaction & Upvotes</option>
    </select>
  </div>
  <div class="form-group">
    <label for="centrality">Centrality Measure</label>
    <select name="centrality" class="form-control" id="centrality">
      <option value="degree" selected>Degree</option>
      <option value="betweenness">Betweenness</option>
      <option value="hits_hub">HITS hub</option>
      <option value="hits_auth">HITS Auth</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="form-control btn btn-success">Submit</button>
  </div>
</form>