### PROJECT SETTINGS

### --- Environment Variables  ---

# A descriptive name of this project or any running environment instance of it
COMPOSE_PROJECT_NAME=smia

# The domain name, host IPv4 and port used for user web interface
DOMAIN_NAME=
HOST_IPv4=127.0.0.1
PORT=5000

# Set to production if running in production
FLASK_ENV=development

# Set to False if not using Docker
IS_DOCKER=True

# Set cache timeout (0 means forver until deleted, otherwise number of seconds)
CACHE_ON=False
CACHE_TIMEOUT=0
CACHE_DIR_PATH=cache

# secret key of application
SECRET_KEY=

# Site/Project Administrators
# Add usernames divided by "," and corresponsing password in the same position divided by ","
# Only secure if using HTTPS/SSL or on local machine, Do not use with HTTP in production
ADMIN_USERNAMES=
ADMIN_PASSWORDS=

### --- Python Reddit API Wrapper (PRAW) ---
reddit_username=
reddit_password=
reddit_client_id=
reddit_client_secret=
reddit_user_agent=

### --- Mongo Archive DB ---
mongo_db_version=4.4.6
mongo_db_host=127.0.0.1
mongo_db_port=27017
mongo_db_user=
mongo_db_pass=

### --- User Graph ---
neo4j_users_db_version=4.2.5
neo4j_users_db_host=127.0.0.1
neo4j_users_http_port=7474
neo4j_users_db_port=7687
neo4j_users_db_user=
neo4j_users_db_pass=

### --- Activity Graph ---
neo4j_activities_db_version=4.2.5
neo4j_activities_db_host=127.0.0.1
neo4j_activities_http_port=7475
neo4j_activities_db_port=7688
neo4j_activities_db_user=
neo4j_activities_db_pass=
