### PROJECT SETTINGS

### --- Environment Variables  ---

# Set to production if running in production
FLASK_ENV=development

# Set to False if not using Docker
IS_DOCKER=True

### --- Python Reddit API Wrapper (PRAW) ---
reddit_username=
reddit_password=
reddit_client_id=
reddit_client_secret=
reddit_user_agent=

### --- Mongo Archive DB ---
mongo_db_version=4.4.6
mongo_db_host=
mongo_db_port=
mongo_db_user=
mongo_db_pass=

### --- User Graph ---
neo4j_users_db_version=4.2.5
neo4j_users_db_host=
neo4j_users_http_port=
neo4j_users_db_port=
neo4j_users_db_user=
neo4j_users_db_pass=

### --- Activity Graph ---
neo4j_activities_db_version=4.2.5
neo4j_activities_db_host=
neo4j_activities_http_port=
neo4j_activities_db_port=
neo4j_activities_db_user=
neo4j_activities_db_pass=
